@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

:root {
  --main-theme: #ffe4b5;
  --minor-theme: #ffebcd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--main-theme);
}

/* Header */
header {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: var(--minor-theme);
  padding-bottom: 10px;
}

.title-container {
  display: flex;
  justify-content: center;
  margin-bottom: 3px;
}

.title h1 {
  font-size: 30px;
  text-shadow: 2px 1px 0.7px #ee82ee;
  letter-spacing: 5px;
}

.form-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

.search {
  font-family: inherit;
  background-color: transparent;
  padding: 10px 15px;
  border-radius: 50px;
  color: darkcyan;
  margin-right: 5px;
  border: 3px solid white;
}

.search::placeholder {
  color: gray;
}

.search:focus {
  outline: none;
  background-color: var(--main-theme);
  border-color: lightcyan;
}

.search:focus::placeholder {
  color: transparent;
}

.btn {
  font-family: inherit;
  background-color: var(--minor-theme);
  border: 2px solid white;
  color: #d2691e;
  padding: 5px;
  border-radius: 10px;
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  background-color: var(--main-theme);
  transform: scale(0.9);
  border-color: lightcyan;
}

/* Sort */
.sort-container {
  margin-top: 110px;
  margin-bottom: 10px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  letter-spacing: 1.5px;
}
